# Logs and temp files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.tmp

# Node.js dependencies and build outputs
node_modules/
dist
dist-ssr
coverage
*.tsbuildinfo
*.local

/cypress/videos/
/cypress/screenshots/

# macOS & system files
.DS_Store
Thumbs.db
ehthumbs.db

# Editor and IDE settings
.vscode/*
!.vscode/extensions.json
.idea/
.vs/
.vs2017/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build artifacts (C/C++/CMake)
*.o
*.obj
*.exe
*.out
*.app
*.dll
*.pdb
*.so
*.dylib
*.a
*.lib
*.dSYM/
*.bak
*.swp

CMakeCache.txt
CMakeFiles/
CMakeTmp/
Makefile
cmake_install.cmake

/build/
build/
bin/
out/
debug/
release/
